div.moBtn_close,
div.mob,
.moBtn {
  display: none;
}


#header {
  position: relative;
  width: 100%;
  height: 120px;
  z-index: 99;
}

.header_wrap {
  position: absolute;
  left: 0;
  width: 100%;
  height: 120px;
  background: url(../img/bg_header.png)repeat-x 0 0;
}

.header_inner {
  position: relative;
  width: 1060px;
  height: 120px;
  margin: 0 auto;
}


/* header */
.header_wrap {
  transition: height 0.3s linear 0s;
}

.header_wrap.on {
  height: 445px;
}

/* 로고 */
h1.logo {
  position: absolute;
  left: 0;
  top: 67px;
}

/* 탑메뉴 */
dl.topMenu {
  display: flex;
  justify-content: flex-end;
  letter-spacing: 0;
}

dl.topMenu>dd {
  margin-top: 10px;
  padding: 3px 10px 10px;

}

dl.topMenu>dd a {
  color: #ADADAD;
}

dl.topMenu>dd a:hover {
  color: #fff
}

dl.topMenu>dd:nth-of-type(5) {
  position: relative;
  width: 70px;
  z-index: 99;

}

dl.topMenu>dd:nth-of-type(5)>a {
  background: url(../img/ico_gnb_updown.png)no-repeat 100% 5px;
  padding-right: 13px;
}

dl.topMenu>dd:nth-of-type(5).on>a {
  background-position-y: -16px;
  color: #fff;
}

dl.topMenu>dd:nth-of-type(5)>ul {
  display: none;
  position: absolute;
}

dl.topMenu>dd:nth-of-type(5).on>ul {
  display: block;
  width: 86px;
  height: 90px;
  padding: 5px;
  box-sizing: border-box;
  background: url(../img/bg_gnb_cscenter.png) no-repeat 0 0;
}

dl.topMenu>dd:last-of-type {
  padding: 0;
}

dl.topMenu>dd:last-of-type>a {
  display: block;
  width: 67px;
  height: 25px;
  border-radius: 3px;
  text-align: center;
  line-height: 25px;
  background-color: #2d2d2d;
}

/* 주메뉴 */

nav.gnb>ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav.gnb>ul>li {
  display: inline-block;
  position: relative;
}

nav.gnb>ul>li>a {
  font-size: 16px;
  line-height: 75px;
  padding: 0 30px;
}

nav.gnb>ul>li a {
  color: #fff;
  transition: color 200ms linear 150ms;
}

nav.gnb>ul>li a:hover {
  color: #f4790b;
}

nav.gnb>ul>li>ul {
  display: none;
  position: absolute;
  left: 30px;
  padding-top: 20px;
  line-height: 30px;
  font-size: 14px;
}

nav.gnb>ul>li>ul.on {
  display: block;
}

nav.gnb>ul>li>ul>li>a {
  position: relative;
}

nav.gnb>ul>li>ul>li>a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s;
}

nav.gnb>ul>li>ul>li:hover>a::after {
  transform: scaleX(1);
}

/* info */
div.info {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 57px;
}

/* 검색버튼 */
span.srch_open {
  position: relative;
  bottom: -7px;
  width: 35px;
  height: 56px;
  margin-right: 20px;
}

span.srch_open>a {
  display: block;
  width: 24px;
  height: 24px;
  margin: 7px auto 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/btn_gnb_search.png)no-repeat 0 0;
}

span.srch_open.on {
  background: url(../img/bg_gnb_search.png)no-repeat 0 0;
}

span.srch_open.on>a {
  background-position-y: -24px;
}

/* 로그인 */
span.login {
  width: 72px;
  height: 56px;
  position: relative;
  top: -10px;
}

span.login>a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

span.login>a>img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* span.login>a>img:first-child {
    opacity: 1;
    } */

@keyframes ani {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* 검색박스 */
form.srch {
  height: 0;
  overflow: hidden;
  background: #fff;
  line-height: 135px;
  transition: height 400ms linear 0s;
}

form.srch.on {
  height: 135px;
}

form.srch fieldset {
  width: 668px;
  margin: 0 auto;
}

form.srch fieldset input {
  width: 548px;
  height: 60px;
  padding: 0 15px;
  border: 2px solid #222;
  font-size: 18px;
}

form.srch fieldset input::placeholder {
  color: #e60;
}

form.srch fieldset button {
  width: 120px;
  height: 60px;
  border: none;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  vertical-align: middle;
  transition: background 400ms linear 0s;
}

form.srch fieldset button :hover {
  background: #000;
  cursor: pointer;
}




@media screen and (min-width: 1025px) {

  .srch {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
  }

}

@media screen and (max-width:1024px) and (min-width:769px) {
  #header {
    position: relative;
    width: 100%;
    height: 120px;
    z-index: 99;
  }

  .header_wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: 120px;
    background: url(../img/bg_header.png)repeat-x 0 0;
    transition: height 0.3s linear 0s;
  }

  .header_wrap.on {
    height: 445px;
  }

  .header_inner {
    position: relative;
    width: 96%;
    min-width: 986px;
    height: 120px;
    margin: 0 auto;
  }

  .srch {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
  }

  /* header */

  /* 로고 */
  h1.logo {
    position: absolute;
    left: 0;
    top: 67px;
  }

  /* 탑메뉴 */
  dl.topMenu {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0;
  }

  dl.topMenu>dd {
    margin-top: 10px;
    padding: 3px 10px 10px;

  }

  dl.topMenu>dd a {
    color: #ADADAD;
  }

  dl.topMenu>dd a:hover {
    color: #fff
  }

  dl.topMenu>dd:nth-of-type(5) {
    position: relative;
    width: 70px;
    z-index: 99;

  }

  dl.topMenu>dd:nth-of-type(5)>a {
    background: url(../img/ico_gnb_updown.png)no-repeat 100% 5px;
    padding-right: 13px;
  }

  dl.topMenu>dd:nth-of-type(5).on>a {
    background-position-y: -16px;
    color: #fff;
  }

  dl.topMenu>dd:nth-of-type(5)>ul {
    display: none;
    position: absolute;
  }

  dl.topMenu>dd:nth-of-type(5).on>ul {
    display: block;
    width: 86px;
    height: 90px;
    padding: 5px;
    box-sizing: border-box;
    background: url(../img/bg_gnb_cscenter.png) no-repeat 0 0;
  }

  dl.topMenu>dd:last-of-type {
    padding: 0;
  }

  dl.topMenu>dd:last-of-type>a {
    display: block;
    width: 67px;
    height: 25px;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    background-color: #2d2d2d;
  }

  /* 주메뉴 */
  nav.gnb>ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  nav.gnb>ul>li {
    display: inline-block;
    position: relative;
  }

  nav.gnb>ul>li>a {
    font-size: 16px;
    line-height: 75px;
    padding: 0 30px;
  }

  nav.gnb>ul>li a {
    color: #fff;
    transition: color 200ms linear 150ms;
  }

  nav.gnb>ul>li a:hover {
    color: #f4790b;
  }

  nav.gnb>ul>li>ul {
    display: none;
    position: absolute;
    left: 30px;
    padding-top: 20px;
    line-height: 30px;
    font-size: 14px;
  }

  nav.gnb>ul>li>ul.on {
    display: block;
  }

  nav.gnb>ul>li>ul>li>a {
    position: relative;
  }

  nav.gnb>ul>li>ul>li>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s;
  }

  nav.gnb>ul>li>ul>li:hover>a::after {
    transform: scaleX(1);
  }

  /* info */
  div.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 57px;
  }

  /* 검색버튼 */
  span.srch_open {
    position: relative;
    bottom: -7px;
    width: 35px;
    height: 56px;
    margin-right: 20px;
  }

  span.srch_open>a {
    display: block;
    width: 24px;
    height: 24px;
    margin: 7px auto 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/btn_gnb_search.png)no-repeat 0 0;
  }

  span.srch_open.on {
    background: url(../img/bg_gnb_search.png)no-repeat 0 0;
  }

  span.srch_open.on>a {
    background-position-y: -24px;
  }

  /* 로그인 */
  span.login {
    width: 72px;
    height: 56px;
    position: relative;
    top: -10px;
  }

  span.login>a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  span.login>a>img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  /* span.login>a>img:first-child {
    opacity: 1;
    } */

  @keyframes ani {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  /* 검색박스 */
  form.srch {
    height: 0;
    overflow: hidden;
    background: #fff;
    line-height: 135px;
    transition: height 400ms linear 0s;
  }

  form.srch.on {
    height: 135px;
  }

  form.srch fieldset {
    width: 668px;
    margin: 0 auto;
  }

  form.srch fieldset input {
    width: 548px;
    height: 60px;
    padding: 0 15px;
    border: 2px solid #222;
    font-size: 18px;
  }

  form.srch fieldset input::placeholder {
    color: #e60;
  }

  form.srch fieldset button {
    width: 120px;
    height: 60px;
    border: none;
    background: #333;
    border: 1px solid #333;
    color: #fff;
    vertical-align: middle;
    transition: background 400ms linear 0s;
  }

  form.srch fieldset button :hover {
    background: #000;
    cursor: pointer;
  }
}

@media screen and (max-width:768px) {


  #header {
    position: relative;
    width: 100%;
    height: 54px;
    z-index: 99;
  }

  .header_wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: 54px;
    background: url(../img/bg_header.png)repeat-x 0 0;
  }

  .header_inner {
    position: relative;
    width: 100%;
    height: 54px;
    margin: 0 auto;
  }

  .srch {
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
  }


  /* header */
  /* 모바일 */

  div.moBtn_close {
    z-index: 150;
    position: absolute;
    top: 20px;
    left: -60px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/btn_close.png) no-repeat -27px 0;
    transition: all 0.3s linear 0s;
  }

  div.moBtn_close.on {
    left: 300px;
  }

  div.moBtn_close.on>a {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
  }

  div.mob {
    z-index: 100;
    display: block;
    position: fixed;
    width: 280px;
    height: 100%;
    left: -350px;
    top: 0;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s linear 0s;
  }

  div.mob.on {
    left: 0;
  }

  div.mob h2 {
    height: 56px;
    padding: 30px 0 0 19px;
    background: #222;
    color: #fff;
    font-size: 24px;
  }

  div.moBtn {
    z-index: 100;
    position: absolute;
    left: 10px;
    top: 15px;
    display: block;
  }

  div.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 12px;
  }

  /* mo탑메뉴 */

  .mob_topMenu>dd>a {
    display: block;
    padding: 0 30px;
    background: #eaeaea;
    color: #555;
    font-size: 16px;
    line-height: 42px;
  }

  .mob_topMenu>dd:nth-of-type(4)>a {
    background-image: url(../img/bg_dotline02.png);
    background-repeat: repeat-x;
    background-position-y: 100%;
  }

  .mob_topMenu>dd:nth-of-type(5)>a {
    background-image: url(../img/ico_util_arrow.png);
    background-repeat: no-repeat;
    background-position: 97% -150%;
  }

  .mob_topMenu>dd:nth-of-type(5).on>a {
    background-image: url(../img/ico_util_arrow.png);
    background-repeat: no-repeat;
    background-position: 97% 225%;
  }


  .mob_topMenu>dd:nth-of-type(6)>a {
    background-image: url(../img/bg_dotline02.png);
    background-repeat: repeat-x;

  }

  .mob_topMenu>dd.service_center>ul {
    display: none;
  }

  .mob_topMenu>dd.service_center.on>ul {
    display: block;
  }

  .mob_topMenu>dd.service_center>ul>li {
    line-height: 1.5;
  }

  .mob_topMenu>dd.service_center>ul>li>a {
    display: block;
    padding: 0 30px;
    background: #dadada;
    color: #555;
    font-size: 16px;
    line-height: 42px;
  }

  .mob_topMenu>dd>a:hover {
    color: #f4790b;
    text-decoration: underline;
  }

  /* //mo탑메뉴 */

  /* mo gnb */
  .mo_gnb>ul>li {
    border-bottom: 2px solid #eaeaea;
  }

  .mo_gnb>ul>li>a {
    display: block;
    font-size: 18px;
    min-height: 41px;
    margin-right: 0;
    padding: 15px 20px 0 20px;
    line-height: 42px;
    color: #222;
  }

  .mo_gnb>ul>li>a:hover {
    color: orange;
    text-decoration: underline;
  }

  .mo_gnb>ul>li.on>a {
    color: orange;
  }

  .mo_gnb>ul>li:nth-child(n+2)>a {
    background-image: url(../img/ico_util_arrow.png);
    background-repeat: no-repeat;
    background-position: 90% -15px;
  }

  .mo_gnb>ul>li:nth-child(n+2).on>a {
    background-position: 90% 30px;
  }

  .mo_gnb>ul>li>ul {
    display: none;
  }

  .mo_gnb>ul>li.on>ul {
    display: block;
  }

  .mo_gnb>ul>li>ul>li {
    padding: 0 30px;
    font-size: 16px;
    line-height: 42px;
    background: #eaeaea;
  }

  .mo_gnb>ul>li>ul>li>a {
    color: #555;
  }

  .mo_gnb>ul>li>ul>li>a:hover {
    color: orange;
    text-decoration: underline;
  }


  /*// mo gnb */

  /* 로고 */
  h1.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* 탑메뉴 */
  dl.topMenu {
    display: none;

  }

  /* 주메뉴 */
  nav.gnb {
    display: none;
  }

  /* info */
  div.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 0px;
  }

  /* 검색버튼 */
  span.srch_open {
    position: relative;
    bottom: -7px;
    width: 35px;
    height: 56px;
    margin-right: 20px;
  }

  span.srch_open>a {
    display: block;
    width: 24px;
    height: 24px;
    margin: 7px auto 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/btn_gnb_search.png)no-repeat 0 0;
  }

  span.srch_open.on {
    background: url(../img/bg_gnb_search.png)no-repeat 0 0;
  }

  span.srch_open.on>a {
    background-position-y: -24px;
  }

  /* 로그인 */
  span.login {
    width: 72px;
    height: 56px;
    position: relative;
    top: -10px;
  }

  span.login>a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  span.login>a>img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  /* span.login>a>img:first-child {
    opacity: 1;
    } */

  @keyframes ani {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  /* 검색박스 */
  form.srch {
    height: 0;
    overflow: hidden;
    background: #fff;
    line-height: 135px;
    transition: height 400ms linear 0s;
  }

  form.srch.on {
    height: 135px;
  }

  form.srch fieldset {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form.srch fieldset input {
    width: 548px;
    height: 60px;
    padding: 0 15px;
    border: 2px solid #222;
    font-size: 18px;
  }

  form.srch fieldset input::placeholder {
    color: #e60;
  }

  form.srch fieldset button {
    width: 120px;
    height: 60px;
    border: none;
    background: #333;
    border: 1px solid #333;
    color: #fff;
    vertical-align: middle;
    transition: background 400ms linear 0s;
  }

  form.srch fieldset button :hover {
    background: #000;
    cursor: pointer;
  }

}

@media screen and (max-width:550px) {

  #header {
    position: relative;
    width: 100%;
    height: 54px;
    z-index: 99;
  }

  .header_wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: 54px;
    background: url(../img/bg_header.png)repeat-x 0 0;
  }

  .header_inner {
    position: relative;
    width: 100%;
    height: 54px;
    margin: 0 auto;
  }

  .srch {
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
  }

  .banner {
    z-index: 30;
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
  }


  /* header */
  /* 모바일 */

  div.moBtn_close {
    z-index: 150;
    position: absolute;
    top: 20px;
    left: -60px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/btn_close.png) no-repeat -27px 0;
    transition: all 0.3s linear 0s;
  }

  div.moBtn_close.on {
    left: 300px;
  }

  div.moBtn_close.on>a {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
  }

  div.mob {
    z-index: 100;
    display: block;
    position: fixed;
    width: 280px;
    height: 100%;
    left: -350px;
    top: 0;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s linear 0s;
  }

  div.mob.on {
    left: 0;
    display: block;
  }

  div.mob h2 {
    height: 56px;
    padding: 30px 0 0 19px;
    background: #222;
    color: #fff;
    font-size: 24px;
  }

  div.moBtn {
    z-index: 100;
    position: absolute;
    left: 10px;
    top: 15px;
    display: block;
  }

  div.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 12px;
  }

  /* mo탑메뉴 */

  .mob_topMenu>dd>a {
    display: block;
    padding: 0 30px;
    background: #eaeaea;
    color: #555;
    font-size: 16px;
    line-height: 42px;
  }

  .mob_topMenu>dd:nth-of-type(4)>a {
    background-image: url(../img/bg_dotline02.png);
    background-repeat: repeat-x;
    background-position-y: 100%;
  }

  .mob_topMenu>dd:nth-of-type(5)>a {
    background-image: url(../img/ico_util_arrow.png);
    background-repeat: no-repeat;
    background-position: 97% -150%;
  }

  .mob_topMenu>dd:nth-of-type(5).on>a {
    background-image: url(../img/ico_util_arrow.png);
    background-repeat: no-repeat;
    background-position: 97% 225%;
  }


  .mob_topMenu>dd:nth-of-type(6)>a {
    background-image: url(../img/bg_dotline02.png);
    background-repeat: repeat-x;

  }

  .mob_topMenu>dd.service_center>ul {
    display: none;
  }

  .mob_topMenu>dd.service_center.on>ul {
    display: block;
  }

  .mob_topMenu>dd.service_center>ul>li {
    line-height: 1.5;
  }

  .mob_topMenu>dd.service_center>ul>li>a {
    display: block;
    padding: 0 30px;
    background: #dadada;
    color: #555;
    font-size: 16px;
    line-height: 42px;
  }

  /* //mo탑메뉴 */

  /* mo gnb */
  .mo_gnb>ul>li {
    border-bottom: 2px solid #eaeaea;
  }

  .mo_gnb>ul>li>a {
    display: block;
    font-size: 18px;
    min-height: 41px;
    margin-right: 0;
    padding: 15px 20px 0 20px;
    line-height: 42px;
    color: #222;
  }

  .mo_gnb>ul>li>a:hover {
    color: orange;
    text-decoration: underline;
  }

  .mo_gnb>ul>li.on>a {
    color: orange;
  }

  .mo_gnb>ul>li:nth-child(n+2)>a {
    background-image: url(../img/ico_util_arrow.png);
    background-repeat: no-repeat;
    background-position: 90% -15px;
  }

  .mo_gnb>ul>li:nth-child(n+2).on>a {
    background-position: 90% 30px;
  }

  .mo_gnb>ul>li>ul {
    display: none;
  }

  .mo_gnb>ul>li.on>ul {
    display: block;
  }

  .mo_gnb>ul>li>ul>li {
    padding: 0 30px;
    font-size: 16px;
    line-height: 42px;
    background: #eaeaea;
  }

  .mo_gnb>ul>li>ul>li>a {
    color: #555;
  }

  .mo_gnb>ul>li>ul>li>a:hover {
    color: orange;
    text-decoration: underline;
  }


  /*// mo gnb */

  /* 로고 */
  h1.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* 탑메뉴 */
  dl.topMenu {
    display: none;

  }

  /* 주메뉴 */
  nav.gnb {
    display: none;
  }

  /* info */
  div.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 0px;
  }

  /* 검색버튼 */
  span.srch_open {
    position: relative;
    bottom: -7px;
    width: 35px;
    height: 56px;
    margin-right: 20px;
  }

  span.srch_open>a {
    display: block;
    width: 24px;
    height: 24px;
    margin: 7px auto 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/btn_gnb_search.png)no-repeat 0 0;
  }

  span.srch_open.on {
    background: url(../img/bg_gnb_search.png)no-repeat 0 0;
  }

  span.srch_open.on>a {
    background-position-y: -24px;
  }

  /* 로그인 */
  span.login {
    width: 72px;
    height: 56px;
    position: relative;
    top: -10px;
  }

  span.login>a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  span.login>a>img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  /* span.login>a>img:first-child {
    opacity: 1;
    } */

  @keyframes ani {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  /* 검색박스 */
  form.srch {
    height: 0;
    overflow: hidden;
    background: #fff;
    line-height: 135px;
    transition: height 400ms linear 0s;
  }

  form.srch.on {
    height: 135px;
  }

  form.srch fieldset {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form.srch fieldset input {
    width: 548px;
    height: 60px;
    padding: 0 15px;
    border: 2px solid #222;
    font-size: 18px;
  }

  form.srch fieldset input::placeholder {
    color: #e60;
  }

  form.srch fieldset button {
    width: 120px;
    height: 60px;
    border: none;
    background: #333;
    border: 1px solid #333;
    color: #fff;
    vertical-align: middle;
    transition: background 400ms linear 0s;
  }

  form.srch fieldset button :hover {
    background: #000;
    cursor: pointer;
  }
}